DirectoryIndex index.php index_page.html

<FilesMatch "(\.env|\.sql|\.md|\.log|composer\.lock|composer\.json)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order deny,allow
        Deny from all
    </IfModule>
</FilesMatch>

